h1{
    text-align: center;
    font-style: italic;
}

button{
    border: 1px solid black;
    text-align: center;
    font-style: italic;
}

body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.dipalme.org%2FServicios%2Fcmsdipro%2Findex.nsf%2Fnoticias.xsp%3Fp%3Dhuercal-overa%26documentId%3D5F8639589CFAE70FC12589020034DC91&psig=AOvVaw0RKUW6lzTSpgPgU12Bp17I&ust=1682417472446000&source=images&cd=vfe&ved=0CA4QjRxqFwoTCMDOq9Kjwv4CFQAAAAAdAAAAABAD);
}

div {
    display:contents;
    justify-content: center;
  }

